<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.ScoreMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.model.Score" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <association property="course" javaType="com.ssm.model.Course">
      <result column="cname" property="name"></result>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from score
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.model.Score" >
    insert into score (Id, student_id, course_id, 
      score)
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, 
      #{score,jdbcType=DOUBLE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ssm.model.Score" >
    update score
    set student_id = #{studentId,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER},
      score = #{score,jdbcType=DOUBLE}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select Id, student_id, course_id, score
    from score
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select Id, student_id, course_id, score
    from score
  </select>
</mapper>